/**
 * Nil Design Tokens
 * @link https://colorbox.io/?c0=%26p%24s%24%3D11%26p%24h%24st%24%3D0%26p%24h%24e%24%3D0%26p%24h%24c%24%3Deqi%26p%24sa%24st%24%3D0%26p%24sa%24e%24%3D0%26p%24sa%24r%24%3D1%26p%24sa%24c%24%3Deqo%26p%24b%24st%24%3D0.98%26p%24b%24e%24%3D0.09%26p%24b%24c%24%3Desio%26o%24n%24%3DBlue+%F0%9F%8C%9E%26o%24ms%24%3D0%2C1%26o%24ro%24%3Dcw%26o%24pi%24%3Dt
 */
@theme static {
  --nd-color-primary-0: light-dark(#fafafa, #171717);
  --nd-color-primary-5: light-dark(#f7f7f7, #1e1e1e);
  --nd-color-primary-10: light-dark(#f4f4f4, #242424);
  --nd-color-primary-15: light-dark(#ededed, #2c2c2c);
  --nd-color-primary-20: light-dark(#e5e5e5, #333333);
  --nd-color-primary-30: light-dark(#cecece, #434343);
  --nd-color-primary-40: light-dark(#aeaeae, #575757);
  --nd-color-primary-50: light-dark(#888888, #888888);
  --nd-color-primary-60: light-dark(#626262, #b9b9b9);
  --nd-color-primary-70: light-dark(#424242, #cdcdcd);
  --nd-color-primary-80: light-dark(#2b2b2b, #dedede);
  --nd-color-primary-90: light-dark(#1d1d1d, #ececec);
  --nd-color-primary-100: light-dark(#171717, #fafafa);
}

/**
 * Tailwind Overrides
 */
@theme {
  --color-primary: var(--nd-color-primary-80);
  --color-primary-hover: var(--nd-color-primary-70);
  --color-primary-active: var(--nd-color-primary-90);

  --color-secondary: var(--nd-color-primary-20);
  --color-secondary-hover: var(--nd-color-primary-30);
  --color-secondary-active: var(--nd-color-primary-40);

  --color-tertiary: var(--nd-color-primary-15);
  --color-tertiary-hover: var(--nd-color-primary-20);
  --color-tertiary-active: var(--nd-color-primary-30);

  --color-contrast: var(--nd-color-primary-0);
  --color-split: var(--nd-color-primary-20);
  --color-edge: var(--nd-color-primary-30);

  --background-color-container: light-dark(var(--nd-color-primary-0), var(--nd-color-primary-5));

  --text-color-primary: var(--nd-color-primary-100);
  --text-color-secondary: var(--nd-color-primary-60);
  --text-color-link: var(--color-primary);
  --text-color-link-hover: var(--color-primary-hover);
  --text-color-link-active: var(--color-primary-active);

  --text-sm: 0.75rem;
  --text-sm--line-height: 1.25rem;
  --text-md: 0.875rem;
  --text-md--line-height: 1.375rem;
  --text-lg: 1rem;
  --text-lg--line-height: 1.5rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.75rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2rem;
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 2.375rem;
  --text-4xl: 2.375rem;
  --text-4xl--line-height: 2.875rem;
  --text-5xl: 2.875rem;
  --text-5xl--line-height: 3.375rem;

  --radius-sm: 0.125rem;
  --radius-md: 0.25rem;
  --radius-lg: 0.375rem;

  --font-nd:
    -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue', arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --default-transition-duration: 200ms;
}

@utility underline {
  text-decoration: underline;
  text-underline-offset: 0.125rem;
}

@custom-variant disabled {
  &.disabled,
  &:disabled {
    @slot;
  }
}
