@import 'tailwindcss';
@import '@nild/components/tailwindcss';

@source '../../../node_modules/@nild/components/dist';

@theme {
  --text-color-vp-brand-1: var(--vp-c-brand-1);
  --text-color-vp-text-1: var(--vp-c-text-1);
  --text-color-vp-info: var(--vp-custom-block-info-text);
  --text-color-vp-tip: var(--vp-custom-block-tip-text);

  --background-color-vp-info: var(--vp-custom-block-info-bg);
  --background-color-vp-tip: var(--vp-custom-block-tip-bg);
  --background-color-vp-danger: var(--vp-custom-block-danger-bg);

  --border-color-vp-divider: var(--vp-c-divider);
}

@layer components {
  .live-editor {
    .prism-code {
      @apply px-6! py-5! rounded-b-lg! whitespace-nowrap! overflow-auto!;
    }
  }
}

:root {
  --vp-c-bg: light-dark(var(--nd-color-primary-0), var(--nd-color-primary-5));
  --vp-c-bg-alt: light-dark(var(--nd-color-primary-10), var(--nd-color-primary-0));
  --vp-c-text-1: var(--text-color-primary);
  --vp-c-text-2: var(--text-color-secondary);
}

.VPImage.logo {
  --vp-nav-logo-height: 32px;
}

.dark {
  .VPImage.logo {
    filter: invert(1);
  }
}
